body,
table {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  background-color: azure;
  margin: 0;
  text-align: center;
  
}
header {
  border-bottom: solid 2px;
  display: inline-flex;
  width: 100%;
}
.logo1 img {
  opacity: 0;
  width: 52px;
  height: 50px;
  border-radius: 30px;
}
.logo img {
  width: 52px;
  height: 50px;
  border-radius: 30px;
  text-align: right;
}

form {
  margin: 0 auto;

  display: inline;
}
select,
input {
  border: 1px solid black;
  border-radius: 10px;
  height: 20px;
  width: 160px;
  background: none;
}

img {
  width: 50px;
  height: 70px;
}
table {
  margin: 0 auto 0 auto;
  width: 60%;
  border: solid 2px;
  border-collapse: collapse;
}
td,
th {
  border: solid 2px;
  text-align: center;
  
}

footer {
  text-align: left;
}
.Tip img {
  display: inline-block;
  margin: auto;
  position: absolute;
  height: auto;
  width: auto;
  transition-duration: 2s;
}
.Tip img:hover {
  transform: translate(-600px, 600px);
}
.Tip {
  opacity: 1;
  transition: all ease 0.8s;
}

.Tip:hover {
  opacity: 0;
}

.RemoveBtn {
    
background-color: azure;
border: none;
}
.icons{
    height: 1rem ;
    width: 1rem;
    border-collapse: collapse;
}
Button{
    background-color: azure;
    border: none;
}

